@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
  --grey: black;
  --bg: ghostwhite;
  --brdr: white;
  --brdr1: whitesmoke;
}

* {
  transition: .2s;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 5rem
}

h2 {
  font-size: 2.5rem
}

h3 {
  font-size: 2rem
}

h4 {
  font-size: 1.5rem
}

u {
  text-decoration: none;
  border-bottom: .5px solid #222
}

code,
code * {
  font-family: monospace
}

pre {
  display: block;
  margin: 0;
  padding: 12px 8px;
  background: #fff;
  border: 1px solid #888
}

.button,
button {
  background: var(--bg);
  border: 0px solid;
  color: var(--grey);
  padding: .4rem;
  padding-left: .7rem;
  padding-right: .7rem;
  border: 1px solid var(--brdr);
  -webkit-box-shadow: 1px 1px 2px 1px #cfcfcf;
  -moz-box-shadow: 1px 1px 2px 1px #cfcfcf;
  box-shadow: 1px 1px 2px 1px #cfcfcf;
  transition: .2s;
}

:disabled {
  background: #cfcfcf52;
  color: grey;
}

:hover {
  -webkit-box-shadow: 0px 0px 0px 0px;
  -moz-box-shadow: 0px 0px 0px 0px;
  box-shadow: 0px 0px 0px 0px;
}
.button,button:hover {
  outline: solid #ccc;
  outline-style: double;
  outline-width: 2px;
}
.button,button:hover:disabled {
  outline: solid;
  outline-style: double;
  outline-width: 0px;
}
:disabled {
  -webkit-box-shadow: 1px 1px 2px 1px #cfcfcf;
  -moz-box-shadow: 1px 1px 2px 1px #cfcfcf;
  box-shadow: 1px 1px 2px 1px #cfcfcf;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="phone"],
textarea {
  color: var(--grey);
  font-family: 'Montserrat', sans-serif;
  padding: .4rem;
  border: 1px solid var(--brdr1);
  -webkit-box-shadow: 1px 1px 2px 1px #cfcfcf;
  -moz-box-shadow: 1px 1px 2px 1px #cfcfcf;
  box-shadow: 1px 1px 2px 1px #cfcfcf;
}

input[type="color"] {
  -webkit-appearance: none;
  border: 0;
  height: 2.5rem;
  width: 2.5rem;
  padding: .1rem;
  background: var(--bg);
  border-radius: 50%;
  margin: .1rem;
  -webkit-box-shadow: 1px 1px 2px 1px #cfcfcf;
  -moz-box-shadow: 1px 1px 2px 1px #cfcfcf;
  box-shadow: 1px 1px 2px 1px #cfcfcf;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border-radius: 50%;
  border: none;

}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="phone"]:focus,
textarea:focus {
  color: var(--grey);
  outline: none;
  padding: .4rem;
  font-family: 'Montserrat', monospace;
  border: 1px solid var(--brdr1);
  -webkit-box-shadow: 0px 0px 2px 1px #cfcfcf;
  -moz-box-shadow: 0px 0px 2px 1px #cfcfcf;
  box-shadow: 0px 0px 2px 1px #cfcfcf;
}
window,.window {
  background: var(--bg);
  padding: .2rem;
  width: 90%;
  position: fixed;
  z-index: 10;
  height: 2.5rem;
  -webkit-box-shadow: 1px 1px 2px 1px #cfcfcf;
  -moz-box-shadow: 1px 1px 2px 1px #cfcfcf;
  box-shadow: 1px 1px 2px 1px #cfcfcf;
}
.window-close{
  background: red;
  position: absolute;
  top: 0;
  right: .1rem;
  font-size: 10px;
  text-align: center;
  height: 1.5rem;
  width: 1.5rem;
  padding: 0;
}
window:hover,.window:hover {
  -webkit-box-shadow: 1px 1px 2px 1px #CFCFCF;
  -moz-box-shadow: 1px 1px 2px 1px #CFCFCF;
  box-shadow: 1px 1px 2px 1px #CFCFCF;
}
.window-close i {
  text-align: center;
}
.window-screen{
  position: absolute;
  top: 0;
  right: 1.6rem;
  font-size: 10px;
  text-align: center;
  height: 1.5rem;
  width: 1.5rem;
  padding: 0;
}
.window-minimize {
  position: absolute;
  top: 0;
  right: 3.2rem;
  font-size: 10px;
  text-align: center;
  height: 1.5rem;
  width: 1.5rem;
  padding: 0;
}
win-body,.win-body {
  background: var(--bg);
    padding: .2rem;
  width: 99.4%;
  position: absolute;
  top: 3rem;
  height: max-content;
  margin: .1rem;
  left: 0;
  margin-left: 0;
  -webkit-box-shadow: 1px 1px 2px 1px #cfcfcf;
  -moz-box-shadow: 1px 1px 2px 1px #cfcfcf;
  box-shadow: 1px 1px 2px 1px #cfcfcf;
}
@media screen and (max-width: 600px){
  win-body,.win-body{
      width: 98.5%;
  }
}
win-body:hover,.win-body:hover {
  -webkit-box-shadow: 1px 1px 2px 1px #CFCFCF;
  -moz-box-shadow: 1px 1px 2px 1px #CFCFCF;
  box-shadow: 1px 1px 2px 1px #CFCFCF;
}
win-menu,.win-menu{
  font-size: 12px;
  color: var(--grey);
  text-decoration-line: none;
  text-decoration-color: transparent;
  text-decoration: underline transparent;
}
win-menu a{
  font-size: 12px;
    cursor: pointer;

  color: var(--grey);
  text-decoration-line: none;
  text-decoration-color: transparent;
  text-decoration: underline transparent;
}
line {
  width: .1px;
  margin: .3rem;
  background: #ccc;
  height: 100%;
  border: .5px solid #ccc;
}
hr {
  background: #ccc;
}



/***/

.spin {
  animation: spin 2s infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.bg-alrtNotfy {
  background: white;
  box-shadow: 1px 1px 3px 1px #cfcfcf;
  border-radius: 1px;
  position: fixed;
  top: -10rem;
  width: 90%;
  margin: 1rem;
  padding: .5rem;
  z-index: 2;
  animation: downNot 3s 1;
}

@keyframes downNot {
  0% {}

  10% {
    top: 0;
  }

  50% {
    top: 0;
  }

  80% {
    top: 0;
  }

  90% {
    top: -10rem;
  }
}

.alrtNotfy {
  display: flex;
  flex-direction: row;
}

.alrtNotfy a {
  position: absolute;
  right: 0;
  margin: .2rem;
  /*background: white;*/
}

.alrtNotfy center {
  padding: .3rem;
  margin: .2rem;
  max-width: 90%;
  word-wrap: break-word;
  overflow: hidden;
}

.alrtNotfy i {
  padding: .3rem;
  margin: .5rem;
}

/*@keyframes inp{
  0%{
  
  }
  50%{
    width: 10%;
  }
  100%{
    
  }
}*/
.msg {
  background: #A6A6A6D1;
  width: max-content;
  padding: .8rem;
  border-radius: 20px;
  position: fixed;
  padding-left: 2rem;
  padding-right: 2rem;
  top: 80%;
  left: 50%;
  z-index: 10;
}





.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 10px; /* Specified height */
  background: whitesmoke; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 2px 1px #CFCFCF inset;
  -moz-box-shadow: 1px 1px 2px 1px #CFCFCF inset;
  box-shadow: 1px 1px 2px 1px #CFCFCF inset;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 20px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
  background: var(--bg);
  border-radius: 6px;
  -webkit-box-shadow: 1px 1px 2px 1px #cfcfcf;
  -moz-box-shadow: 1px 1px 2px 1px #cfcfcf;
  box-shadow: 1px 1px 2px 1px #cfcfcf;
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 20px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
  background: var(--bg); /* Green background */
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 2px 1px #cfcfcf;
  -moz-box-shadow: 1px 1px 2px 1px #cfcfcf;
  box-shadow: 1px 1px 2px 1px #cfcfcf;
  cursor: pointer; /* Cursor on hover */
}



progress::-webkit-progress-bar{
  background: whitesmoke;
  border-radius: 4px;
  -webkit-box-shadow: 1px 1px 2px 1px #cfcfcf inset;
  -moz-box-shadow: 1px 1px 2px 1px #cfcfcf inset;
  box-shadow: 1px 1px 2px 1px #cfcfcf inset;
  cursor: progress;
  
}
progress{
  background: whitesmoke;
  border-radius: 4px;
    -webkit-box-shadow: 1px 1px 2px 1px #cfcfcf inset;
  -moz-box-shadow: 1px 1px 2px 1px #cfcfcf inset;
  box-shadow: 1px 1px 2px 1px #cfcfcf inset;
  cursor: progress;
}

progress::-moz-progress-bar{
  background: whitesmoke;
  border-radius: 4px;
  -webkit-box-shadow: 1px 1px 2px 1px #cfcfcf inset;
  -moz-box-shadow: 1px 1px 2px 1px #cfcfcf inset;
  box-shadow: 1px 1px 2px 1px #cfcfcf inset;
  cursor: progress;
}
::-webkit-progress-value{
  background: grey;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  animation: progress 3s infinite;
}
/*@keyframes progressbar {
  0% {
    transform: translateX(-40%)
  }

  60% {
    transform: translateX(100%)
  }

  to {
    transform: translateX(100%)
  }
}

*/