/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Dosis:wght@200;300;400;500;600;700;800&display=swap');*/

:root {
  --color: blueviolet;
  --bg: ghostwhite;
  --brdr: white;
  --brdr1: whitesmoke;
  --sh: #CFCFCF;
}

body {
  margin: 0;
  /* font-family: 'Dongle', sans-serif;
  font-family: 'Dosis', sans-serif;*/
}

* {
  transition: .3s;
}

/*h1 {
  font-size: 5rem
}

h2 {
  font-size: 2.5rem
}

h3 {
  font-size: 2rem
}

h4 {
  font-size: 1.5rem
}*/

u {
  text-decoration: none;
  border-bottom: .5px solid #222
}
bg,[role="bg"],.bg{
  background: var(--bg);
  border: 1px solid var(--brdr);
  padding-right: .1rem;
  padding-left: .1rem;
  padding-top: .1rem;
  padding-bottom: .1rem;
  width: max-content;
  height: max-content
}


code,
code * {
  color: var(--color);
  font-family: 'Courier New', Courier, monospace
}
nav,.nav,[role="nav"]{
  background: var(--bg);
  padding-right: .1rem;
  padding-left: .1rem;
  padding-top: .1rem;
  padding-bottom: .1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  -webkit-box-shadow: 1px 1px 3px 1px var(--color);
  -moz-box-shadow: 1px 1px 3px 1px var(--color);
  box-shadow: 1px 1px 3px 1px var(--color);
}
nav img,.nav img,[role="nav"] img{
  max-width: 64px;
  max-height: 64px;
}
.border-left {
  border-left: 5px solid var(--color);
}

.border-bottom {
  border-bottom: 5px solid var(--color);
}

.border-top {
  border-top: 5px solid var(--color);
}

.border-right {
  border-right: 5px solid var(--color);
}

.border-left-h:hover {
  border-left: 5px solid var(--color);
}

.border-bottom-h:hover {
  border-bottom: 5px solid var(--color);
}

.border-top-h:hover {
  border-top: 5px solid var(--color);
}

.border-right-h:hover {
  border-right: 5px solid var(--color);
}

.border-left-c:hover {
  border-left: 0px solid var(--color);
}

.border-bottom-c:hover {
  border-bottom: 0px solid var(--color);
}

.border-top-c:hover {
  border-top: 0px solid var(--color);
}

.border-right-c:hover {
  border-right: 0px solid var(--color);
}

.border-left-c {
  border-left: 5px solid var(--color);
}

.border-bottom-c {
  border-bottom: 5px solid var(--color);
}

.border-top-c {
  border-top: 5px solid var(--color);
}

.border-right-c {
  border-right: 5px solid var(--color);
}
.horz-vertic-center {
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
pre,
code {
  display: block;
  margin: 0;
  /*background: #cfcfcf58 !important;*/
  overflow: auto;
  border: 1px;
}
.alert,[role="alert"],alert{
  width: 80%;
  margin: 1rem;
  position: fixed;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
  z-index: 100;
  border: 1px solid #EEEEEE61;
  font-family: 'Courier New', Courier, monospace;
  -webkit-box-shadow: 1px 1px 2px 1px var(--sh);
  -moz-box-shadow: 1px 1px 2px 1px var(--sh);
  box-shadow: 1px 1px 2px 1px var(--sh);
}
.alert:hover,[role="alert"]:hover,alert:hover {
  -webkit-box-shadow: 1px 1px 2px 1px var(--sh);
  -moz-box-shadow: 1px 1px 2px 1px var(--sh);
  box-shadow: 1px 1px 2px 1px var(--sh);
}
.alert i,[role="alert"] i,alert i{
  margin: .4rem;
}
.alert hr,[role="alert"] hr,alert hr{
  background: #EBEBEB80;
  border: 1px solid #EBEBEB80;
}
.sec-button{
  background: #4756FF;
  color: white;
  border: 2px solid;
  padding-right: 2rem;
  padding-left: 2rem;
}
.alert button,[role="alert"] button,alert button{
  margin: 1rem;
  margin-left: 95%;
  transform: translate(-90%)
}
.sec-button:hover{
  border: 4px solid;
  border-style: double;
}
.button,
button {
  background: var(--bg);
  border: 0px solid;
  color: var(--color);
  padding: .4rem;
  padding-left: .7rem;
  padding-right: .7rem;
  border: 1px solid var(--brdr);
  -webkit-box-shadow: 1px 1px 2px 1px var(--sh);
  -moz-box-shadow: 1px 1px 2px 1px var(--sh);
  box-shadow: 1px 1px 2px 1px var(--sh);
  transition: .2s;
  text-decoration: none;
  text-decoration-line: none;
}

:disabled {
  background: #cfcfcf52;
  color: grey;
}

:hover {
  -webkit-box-shadow: 0px 0px 0px 0px;
  -moz-box-shadow: 0px 0px 0px 0px;
  box-shadow: 0px 0px 0px 0px;
}


.button:hover,
button:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="button"]:focus {
  border: 2px solid #ccc;
  border-style: double;
}

.button,
button:hover:disabled {
  outline: solid;
  outline-style: double;
  outline-width: 0px;
}

:disabled {
  -webkit-box-shadow: 1px 1px 2px 1px var(--sh);
  -moz-box-shadow: 1px 1px 2px 1px var(--sh);
  box-shadow: 1px 1px 2px 1px var(--sh);
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="phone"],
textarea {
  color: var(--color);
  font-family: 'Montserrat', sans-serif;
  padding: .4rem;
  border: 1px solid var(--brdr1);
  -webkit-box-shadow: 1px 1px 2px 1px var(--sh);
  -moz-box-shadow: 1px 1px 2px 1px var(--sh);
  box-shadow: 1px 1px 2px 1px var(--sh);
}

input[type="color"] {
  -webkit-appearance: none;
  border: 0;
  height: 2.5rem;
  width: 2.5rem;
  padding: .1rem;
  background: var(--bg);
  border-radius: 50%;
  margin: .1rem;
  -webkit-box-shadow: 1px 1px 2px 1px var(--sh);
  -moz-box-shadow: 1px 1px 2px 1px var(--sh);
  box-shadow: 1px 1px 2px 1px var(--sh);
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border-radius: 50%;
  border: none;

}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="phone"]:focus,
textarea:focus {
  color: var(--color);
  outline: none;
  padding: .4rem;
  font-family: 'Montserrat', monospace;
  border: 1px solid var(--brdr1);
  -webkit-box-shadow: 0px 0px 2px 1px var(--sh);
  -moz-box-shadow: 0px 0px 2px 1px var(--sh);
  box-shadow: 0px 0px 2px 1px var(--sh);
}

window,
.window {
  background: var(--bg);
  padding: .2rem;
  width: 90%;
  position: fixed;
  z-index: 10;
  height: 2.5rem;
  -webkit-box-shadow: 1px 1px 2px 1px var(--sh);
  -moz-box-shadow: 1px 1px 2px 1px var(--sh);
  box-shadow: 1px 1px 2px 1px var(--sh);
}

.window-close {
  background: red;
  position: absolute;
  top: 0;
  right: .1rem;
  font-size: 10px;
  text-align: center;
  height: 1.5rem;
  width: 1.5rem;
  padding: 0;
}

window:hover,
.window:hover {
  -webkit-box-shadow: 1px 1px 2px 1px var(--sh);
  -moz-box-shadow: 1px 1px 2px 1px var(--sh);
  box-shadow: 1px 1px 2px 1px var(--sh);
}

.window-close i {
  text-align: center;
}

.window-screen {
  position: absolute;
  top: 0;
  right: 1.6rem;
  font-size: 10px;
  text-align: center;
  height: 1.5rem;
  width: 1.5rem;
  padding: 0;
}

.window-minimize {
  position: absolute;
  top: 0;
  right: 3.2rem;
  font-size: 10px;
  text-align: center;
  height: 1.5rem;
  width: 1.5rem;
  padding: 0;
}

win-body,
.win-body {
  background: var(--bg);
  padding: .2rem;
  width: 99.4%;
  position: absolute;
  top: 3rem;
  height: max-content;
  margin: .1rem;
  left: 0;
  margin-left: 0;
  -webkit-box-shadow: 1px 1px 2px 1px var(--sh);
  -moz-box-shadow: 1px 1px 2px 1px var(--sh);
  box-shadow: 1px 1px 2px 1px var(--sh);
}

@media screen and (max-width: 600px) {

  win-body,
  .win-body {
    width: 98.5%;
  }
}

win-body:hover,
.win-body:hover {
  -webkit-box-shadow: 1px 1px 2px 1px var(--sh);
  -moz-box-shadow: 1px 1px 2px 1px var(--sh);
  box-shadow: 1px 1px 2px 1px var(--sh);
}

win-menu,
.win-menu {
  font-size: 12px;
  color: var(--color);
  text-decoration-line: none;
  text-decoration-color: transparent;
  text-decoration: underline transparent;
}

win-menu a {
  font-size: 12px;
  cursor: pointer;

  color: var(--color);
  text-decoration-line: none;
  text-decoration-color: transparent;
  text-decoration: underline transparent;
}

line,
l,
.l,
.line {
  width: .1px;
  margin: .3rem;
  background: #ccc;
  height: 100%;
  border: .5px solid #ccc;
}

hr {
  background: #cfcfcf;
  border: 1px solid #cfcfcf;
}

.m1,
m1 {
  margin: 1rem;
}

.p1,
p1 {
  padding: 1rem;
}
.m2,
m2 {
  margin: 2rem;
}

.p2,
p2 {
  padding: 2rem;
}
.m3,
m3 {
  margin: 3rem;
}

.p3,
p3 {
  padding: 3rem;
}
.m4,
m4 {
  margin: 4rem;
}

.p4,
p4 {
  padding: 4rem;
}
.m5,
m5 {
  margin: 5rem;
}

.p5,
p5 {
  padding: 5rem;
}
.m6,
m6 {
  margin: 6rem;
}

.p6,
p6 {
  padding: 6rem;
}
.m7,
m7 {
  margin: 7rem;
}

.p7,
p7 {
  padding: 7rem;
}
.m8,
m8 {
  margin: 8rem;
}

.p8,
p8 {
  padding: 8rem;
}
.m9,
m9 {
  margin: 9rem;
}

.p9,
p9 {
  padding: 9rem;
}
.m10,
m10 {
  margin: 10rem;
}

.p10,
p10 {
  padding: 10rem;
}


.t1,
t1 {
  top: 1rem;
}

.b1,
b1 {
  bottom: 1rem;
}/*
.m2,
m2 {
  margin: 2rem;
}

.p2,
p2 {
  padding: 2rem;
}
.m3,
m3 {
  margin: 3rem;
}

.p3,
p3 {
  padding: 3rem;
}
.m4,
m4 {
  margin: 4rem;
}

.p4,
p4 {
  padding: 4rem;
}
.m5,
m5 {
  margin: 5rem;
}

.p5,
p5 {
  padding: 5rem;
}
.m6,
m6 {
  margin: 6rem;
}

.p6,
p6 {
  padding: 6rem;
}
.m7,
m7 {
  margin: 7rem;
}

.p7,
p7 {
  padding: 7rem;
}
.m8,
m8 {
  margin: 8rem;
}

.p8,
p8 {
  padding: 8rem;
}
.m9,
m9 {
  margin: 9rem;
}

.p9,
p9 {
  padding: 9rem;
}
.m10,
m10 {
  margin: 10rem;
}

.p10,
p10 {
  padding: 10rem;
}


*/

/***/

.spin {
  animation: spin 2s infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.bg-alrtNotfy {
  background: white;
  box-shadow: 1px 1px 2px 1px #cfcfcf;
}

@keyframes downNot {
  0% {}

  10% {
    top: 0;
  }

  50% {
    top: 0;
  }

  80% {
    top: 0;
  }

  90% {
    top: -10rem;
  }
}

.alrtNotfy {
  display: flex;
  flex-direction: row;
}

.alrtNotfy a {
  position: absolute;
  right: 0;
  margin: .2rem;
  /*background: white;*/
}

.alrtNotfy center {
  padding: .3rem;
  margin: .2rem;
  max-width: 90%;
  word-wrap: break-word;
  overflow: hidden;
}

.alrtNotfy i {
  padding: .3rem;
  margin: .5rem;
}

/*@keyframes inp{
  0%{
  
  }
  50%{
    width: 10%;
  }
  100%{
    
  }
}*/
.msg {
  background: #A6A6A6D1;
  width: max-content;
  padding: .8rem;
  border-radius: 20px;
  position: fixed;
  padding-left: 2rem;
  padding-right: 2rem;
  top: 80%;
  left: 50%;
  z-index: 10;
}





.slidecontainer {
  width: 100%;
  /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;
  /* Override default CSS styles */
  appearance: none;
  width: 100%;
  /* Full-width */
  height: 10px;
  /* Specified height */
  background: whitesmoke;
  /* Grey background */
  outline: none;
  /* Remove outline */
  opacity: 0.7;
  /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s;
  /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 2px 1px var(--sh) inset;
  -moz-box-shadow: 1px 1px 2px 1px var(--sh) inset;
  box-shadow: 1px 1px 2px 1px var(--sh) inset;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1;
  /* Fully shown on mouse-over */
}

box,
.box {
  background: var(--bg);
  padding: .5rem;
  margin: .1rem;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  width: 20px;
  /* Set a specific slider handle width */
  height: 20px;
  /* Slider handle height */
  background: var(--bg);
  border-radius: 6px;
  -webkit-box-shadow: 1px 1px 2px 1px var(--sh);
  -moz-box-shadow: 1px 1px 2px 1px var(--sh);
  box-shadow: 1px 1px 2px 1px var(--sh);
  cursor: pointer;
  /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 20px;
  /* Set a specific slider handle width */
  height: 20px;
  /* Slider handle height */
  background: var(--bg);
  /* Green background */
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 2px 1px var(--sh);
  -moz-box-shadow: 1px 1px 2px 1px var(--sh);
  box-shadow: 1px 1px 2px 1px var(--sh);
  cursor: pointer;
  /* Cursor on hover */
}

mdl,[role="mdl"],.mdl{
  position: fixed;
  z-index: 10;
}

progress::-webkit-progress-bar {
  background: #0093FF;
  border-radius: 1px;
  height: 5px;
 /* -webkit-box-shadow: 1px 1px 2px 1px var(--sh) inset;
  -moz-box-shadow: 1px 1px 2px 1px var(--sh) inset;
  box-shadow: 1px 1px 2px 1px var(--sh) inset;*/
  cursor: progress;

}

progress {
  background: #0093FF;
  border-radius: 1px;
  height: 5px;
  /*-webkit-box-shadow: 1px 1px 2px 1px var(--sh) inset;
  -moz-box-shadow: 1px 1px 2px 1px var(--sh) inset;
  box-shadow: 1px 1px 2px 1px var(--sh) inset;*/
  cursor: progress;
}

progress::-moz-progress-bar {
  background: #0093FF;
  border-radius: 1px;
  height: 5px;
  /*-webkit-box-shadow: 1px 1px 2px 1px var(--sh) inset;
  -moz-box-shadow: 1px 1px 2px 1px var(--sh) inset;
  box-shadow: 1px 1px 2px 1px var(--sh) inset;*/
  cursor: progress;
}

::-webkit-progress-value {
  background: #0006FF;
  /*-webkit-border-radius: 3px;
  -moz-border-radius: 3px;*/
  border-radius: 1px;
  animation: progress 3s infinite;
}

/*@keyframes progressbar {
  0% {
    transform: translateX(-40%)
  }

  60% {
    transform: translateX(100%)
  }

  to {
    transform: translateX(100%)
  }
}

*/
/* The switch - the box around the slider */

::-webkit-scrollbar {
  width: 5px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #cfcfcf;
  -webkit-box-shadow: 1px 1px 2px 1px var(--sh) inset;
  -moz-box-shadow: 1px 1px 2px 1px var(--sh) inset;
  box-shadow: 1px 1px 2px 1px var(--sh) inset;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;

}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: relative;
  cursor: pointer;
  /*top: 0;
  left: 0;
  right: 0;
  bottom: 0;*/
  opacity: 100%;
  width: 100%;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--brdr1);
  width: 6rem;
  box-shadow: 0px 8px 16px 0px var(--sh);
  z-index: 1;
  height: 1rem;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content p,
.dropdown-content a {
  /*text-align: center;
  padding: .4rem;
  padding-right: .8rem;
  padding-left: .8rem;
  width: 98%;
  height: 2rem;
  text-decoration: none;
  text-decoration-line: none;
  background: var(--bg);
  border: 2px solid #ccc;
  border-style: double;*/
  background: var(--bg);
  border: 0px solid;
  color: var(--color);
  padding: .4rem;
  padding-left: .7rem;
  padding-right: .7rem;
  border: 1px solid var(--brdr);
  /*-webkit-box-shadow: 1px 1px 2px 1px var(--sh);
  -moz-box-shadow: 1px 1px 2px 1px var(--sh);
  box-shadow: 1px 1px 2px 1px var(--sh);*/
  transition: .2s;
  text-decoration: none;
  text-decoration-line: none;
  text-align: center;
}