@import url("../trudown.css");

body {
  background-image: linear-gradient(to bottom,#FFD866,#FFBE00,#FFBE00,#DAA300);
  width: 100%;
  height: 100vh;
  color: black;
  font-family: 'Courier New', Courier, monospace;

 /* background-image: linear-gradient(to bottom,blueviolet, lightblue)*/
}
.footer{
  bottom: 0;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  font-family: cursive;
}

.language-css,.language-html,.language-js{
  background: #ffffff !important;
}
.language-html {
  padding: 0 0 0 0!important;
  border: 0 0 !important;
  background: var(--bg) !important;
}
pre{
  border: 1px solid var(--color)
}
.body {
  background: white;
}
.ftr {
  background: #42445A;
  color: white;
  padding: 2px;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  position: -webkit-sticky;
  bottom: 0;
}
.ftr a{
  color: white;
  font-weight: bold;
  text-decoration: none;
}